/* Font Variables */
$logo-font: "Avenir Heavy", sans-serif;
$header-font: "GT Pressura", sans-serif;
$title-font: "Avenir", sans-serif;

/* Colors */
$logo-color: #DE99A2;
$background-color: #FFFFFF;
$issue-bg: rgba(0,0,0,0.02);
$border-color: rgba(0,0,0,0.08);
$article-bg: #FFCA8C;

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir.ttc');
}

//scrollbar delete for webkit enabled browsers (not firefox)
::-webkit-scrollbar {
     display: none;
}

body {
     //background-color: $background-color;
     font-family: Avenir, sans-serif;
     //margin-top: 10%;
}

nav {
    background-color: white;
    top: 0;
    transition: all 0.25s ease;
    svg {
	padding-bottom: 1%;
	fill: $logo-color;
	#Thread-Logo {
	    fill: $logo-color;
	}
    }
    ul {
        width: 22%;
	border-top: 1px solid $border-color;
	border-bottom: 1px solid $border-color;
	a {
	   font-family: Avenir;
	   font-weight: 500;
	   font-size: 75%;
	   color: rgba(0,0,0,0.56);
	}
    }
}

nav.pastNav {
    position: fixed;
    top: 0;
    height: 4%;
    background-color: $logo-color;
    #logo {
    	margin: 0;
	width: 10%;
    }
    svg {
    	height: 75%;
	width: 100%;
    }
    #Thread-Logo {
        fill: white;
    }
    #links {
        width: 70%;
	margin: 0;
	margin-right: 20%;
    }
    ul {
       border: none;
       a {
           color: white !important;
       }
    }
}

footer {
    background-color: black;
    color: white;
    font-size: 75%;
    #row1 {
    	padding-top: 8%;
	padding-bottom: 0%;
	width: 100%;
	.form-group {
	    margin-bottom: 0;
	    width: 80%;
	}
	label {
	    margin-bottom: 1%;
	}
	input {
	    line-height: .5em;
	    padding: 0;
	    padding-bottom: 1%;
	    background-color: black;
	    border-radius: 0;
	    border: none;
	    border-bottom: 2px solid #979797;
	}
	button {
	    background-color: black;
	    border: none;
	    width: 15%;
	    img {
	    	width: 100%;
	    }
	}
	#col1 {
	    padding-bottom: 1%;
	}
	#Thread-Logo:hover {
	    fill:$logo-color;
	}
    }
    #row2 {
    	width: 100%;  
    	padding-bottom: 8%;
	#col2 {
	    width: 10%;
	    padding-top: 1%;
	    img {
	    	padding-right: 2%;
		padding-top: 1%;
		width: 7%;
	    }
	    #ig:hover {
	    	content: url('../imgs/footer/ig_active.png');
	    }
	    #fb:hover {
	    	content: url('../imgs/footer/fb_active.png');
	    }
	    #email:hover {
	    	content: url('../imgs/footer/email_active.png');
	    }
	}
    }
    #col1 {
    	float: right;
	text-align: right;
    }
    
}

//remove box highlighting around input forms
.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}